.retailerContainer {
    height: 80vh;
    overflow: scroll;
    flex-basis: 100%;
    background-color: #FFF082;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

.retailer {
    margin: 10px;
    color: #FF8087;
    font-weight: 700;
    letter-spacing: 1px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 3px solid #BEE86E;
}

.retailer__info {
    flex-basis: 100%;
}

.retailer__flowersTitle {
    flex-basis: 100%;
    margin: 10px 0px;
}

.retailer__flowers {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.flower {
    margin: 0px 15px;
    text-align: center;
}

.retailer__nurseries {
    flex-basis: 45%;
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.retailer__name {
    font-size: 20px;
    text-decoration: underline #FF8087;
    width: fit-content;
}

.retailer__dist {
    margin: 10px 0px;
    flex-basis: 45%;
}

.flower__image {
    height: 2rem;
}

.nursery {
    margin: 5px 5px;
    flex-basis: 45%;
    text-align: center;
}

.nursery__title {
    flex-basis: 100%;
    text-align: center;
}

.retailer:hover .retailer__name{
    font-size: 24px;
}

.flower:hover {
    animation: squishy;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes squishy {
    0% {
        transform-origin: bottom center;
        transform: scaleY(1);
    }
    50% {
        transform-origin: bottom center;
        transform: scaleY(1.05);
    }
    100% {
        transform-origin: bottom center;
        transform: scaleY(1);
    }
}